body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-image: url('maintenance.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

h1, h2 {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

form, #results {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

a.back-button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}
